<div class="container-fluid mantis-container mt-4">
    <div class="row header-content mb-5">
        <app-header></app-header>
        <div class="mantis-results-header">
          <div class="row align-items-center">
              <div class="col-lg-3 col-md-12">
                  <h3 *ngIf="activeSearched" class="results-count" style="margin-left: 40px;">
                      <strong> {{ products.length }} </strong> Résultats pour <span>"{{searchedTerm}}"</span>
                  </h3>
              </div>

              <div class="col-lg-9 col-md-12">
                  <ul class="mantis-horizontal-nav">
                      
                      <li *ngFor="let categorie of categories" 
                          (click)="filterByCategory(categorie._id!)" 
                          style="cursor: pointer;"
                          [class.active]="categorie._id === selectedCategoryId">
                          {{ categorie.name }}
                      </li>                  
                    </ul>
              </div>
          </div>
      </div>
    </div>  
  <div class="row pt-3">

    <div class="col-lg-3 col-md-4 mb-4">
        <div class="filter-wrapper">
            <div class="mantis-aside-filter">
                <div class="filter-head">
                    <h3>Filtrer</h3>
                    <button type="button" class="btn-reset" (click)="resetFilters()">
                    <i class="fa fa-undo"></i> Réinitialiser
                    </button>
                </div>

                <div class="filter-content">
                <form #filterForm="ngForm" (ngSubmit)="applyFilters()">
                    
                    <div class="filter-group">
                    <div class="label-row">
                        <label class="group-label">Plage de prix</label>
                    </div>
                    <input type="number" name="minPrice" [(ngModel)]="filterValues.minPrice" placeholder="Min">
                    <input type="number" name="maxPrice" [(ngModel)]="filterValues.maxPrice" placeholder="Max" style="margin-left: 20px;">
                    </div>

                    <button type="submit" class="btn-apply">Appliquer les filtres</button>
                </form>
            </div>
            </div>
        </div>
    </div>

    <div class="col-lg-9 col-md-8">
    
    <div *ngIf="isLoading" class="d-flex flex-column justify-content-center align-items-center py-5">
        <div class="loader"></div>
    </div>

    <div *ngIf="!isLoading" class="row g-3"> 
        
        <div class="col-12 text-center py-5" *ngIf="products.length === 0">
            <p>Aucun produit disponible pour le moment.</p>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 mb-4" *ngFor="let product of products">
            <mat-card class="mantis-product-card shadow-none">
                <a *ngIf="product._id" [routerLink]="['/product-details', product._id]">
                        <div class="image-container">
                        <div class="product-bg-image" 
                            [ngStyle]="{'background-image': 'url(' + (product.image || 'images/sac.jpeg') + ')'}"
                            role="img" 
                            [attr.aria-label]="product.name">
                        </div>
                        <div class="badge-new">Nouveau</div>
                        <mat-icon class="badge-favorities">favorite_border</mat-icon>
                    </div>
                </a>

                <mat-card-content class="pt-3">
                    <div class="category-text text-uppercase">{{ product.category_id.name }}</div>
                    <div class="product-header-row">
                        <h3 class="product-title">{{ product.name }}</h3>
                        <span class="vendor-tag">{{ product.shop_id.name }}</span>
                    </div>
                    
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <span class="price-tag">{{ product.unit_price | number }} Ar</span>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    </div>
        <div class="row header-content mb-5">
        <app-footer></app-footer>
    </div>  
  </div>
</div>